/*~ RESET ~*/
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
/*~ GENERAL ~*/
	main{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background-color: #313131;
		width: 100%;
	}
	header{
		text-align: center;
		background-image: url("../images/font_header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 43em;
		color: white;
		border-bottom: 2px solid #30C919;
	}
	a{
		text-decoration: none;
		outline: none;
		color: #fff;
	}
	a:hover{
		color: #30C919;
	}
	li{
		list-style: none;
	}
	span{
		color: #30C919;
	}
	article{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		width: 100%;
	}
	section{
		background-color: #E0E0E0;
		color: #3A3A3A;
		width: 100%;
	}
	p{
		margin: 0.5em;
	}
	h3{
		text-align: center;
		margin-bottom: 1em;
	}
	h3 span{
		border-bottom: 2px solid #30C919;
		color: #3A3A3A;
	}
	h4{
		text-align: center;
		margin-bottom: 0.5em;
	}
	h4 span{
		border-bottom: 2px solid #30C919;
		color: #3A3A3A;
	}
	fieldset{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		border: none;
		padding: 2em;
	}
	label{
		color: #3A3A3A;
		font-weight: bold;
	}
	textarea, input{
		border-radius: 5px;
		color: #fff;
		background-color: #888888;
		border: 2px solid #30C919;
	}
	textarea{
		resize: none;
		height: 10em;
	}
	.text_gras{
		font-weight: bold;
	}
	.container{
		width: 100%;
	}
	/* IMAGE PARALLAX */
	#section1, #section2, #section3, #section4, #section5{
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		height: 15em;
	}
/*--------------------------------------*/

/*~ RESPONSIVE TELEPHONE ~*/
@media all and (max-width: 750px) {
	/*~ HEADER ~*/
		header{
			width: 100%;
			height: 40em;
		}
		header li{
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
		}
	/*~ NAV ~*/
		nav{
			-webkit-animation-duration: 1s;
			        animation-duration: 1s;
			-webkit-animation-name: nav;
			        animation-name: nav;
		}
		.nav_pc{
			display: none;
		}
		.nav_portable ul{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			position: fixed;
			width: 100%;
			background-color: rgba(158, 158, 158, 0.3);
			border-radius: 0px 0px 60px 60px;
			border-bottom: 3px solid rgba(48, 201, 25, 0.4);
		}
		.nav_portable li{
			font-size: 1.5em;
			margin-left: 0.3em;
			margin-right: 0.3em;
		}
	/*~ TITRE/TEXTE ~*/
		h1{
			margin-top: 3em;
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h1;
			        animation-name: h1;
		}
		h2{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h2;
			        animation-name: h2;
			margin-bottom: 2em;
			color: #30C919;
		}
		.anim_1, .anim_2, .anim_3, .anim_4{
			font-size: 1.125em;
		}
		/*~ ANIMATION DU LI HEADER ~*/
		.anim_1{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: anim_1;
			        animation-name: anim_1;
		}
		.anim_2{
			-webkit-animation-duration: 3s;
			        animation-duration: 3s;
			-webkit-animation-name: anim_2;
			        animation-name: anim_2;
		}
		.anim_3{
			-webkit-animation-duration: 4s;
			        animation-duration: 4s;
			-webkit-animation-name: anim_3;
			        animation-name: anim_3;
		}
		.anim_4{
			-webkit-animation-duration: 5s;
			        animation-duration: 5s;
			-webkit-animation-name: anim_4;
			        animation-name: anim_4;
		}
	/*~ MAIN~*/
		main{
			width: 100%;
		}
		article{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			width: 100%;
		}
		h3{
			font-size: 1.625em;
		}
		h4{
			font-size: 1.125em;
		}
		/* IMAGE PARALLAX */
		#section1, #section2, #section3, #section4, #section5{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			height: 10em;
		}
		/* PLACEMENT DES IMAGES */
		#section1{
			background-image: url('../images/img1.png');
		}
		#section2{
			background-image: url('../images/img2.png');
		}
		#section3{
			background-image: url('../images/img3.png');
		}
		#section4{
			background-image: url('../images/img4.jpg');
		}
		#section5{
			background-image: url('../images/img5.jpg');
		}
	/*~ SECTION 1 ~*/
		.transport{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			text-align: center;
			font-size: 1.125em;
			margin: 1em;
		}
	/*~ SECTION 2 ~*/
		.diplomes, .formations{
			margin: 0.5em;
		}
	/*~ SECTION 3 ~*/
		.icon{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			margin: 0.5em;
		}
		.icon .devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark,
		.devicon-javascript-plain, .devicon-jquery-plain-wordmark,
		.devicon-php-plain, .devicon-mysql-plain-wordmark,
		.devicon-linux-plain, .devicon-git-plain-wordmark,
		.devicon-github-plain-wordmark, .devicon-photoshop-plain{
			font-size: 2.5em;
		}
	/*~ SECTION 4 ~*/
		.experience i{
			margin: 0.3em;
		}
	/*~ FOOTER ~*/
		footer{
			text-align: center;
		}
		footer h5{
			font-size: 1.125em;
			margin: 0.5em;
			color: #fff;
			border-bottom: 2px solid #30C919;
		}
		footer .fa{
			margin: 0.2em;
			font-size: 2.5em;
			cursor: pointer;
			color: #fff;
		}
		footer .fa:hover{
			color: #30C919;
		}
}
/*--------------------------------------*/

/*~ RESPONSIVE TELEPHONE ~*/
@media all and (min-width: 751px) and (max-width: 980px) {
	/*~ HEADER ~*/
		header{
			width: 100%;
			height: 41em;
		}
		header li{
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
		}
	/*~ NAV ~*/
		nav{
			-webkit-animation-duration: 1s;
			        animation-duration: 1s;
			-webkit-animation-name: nav;
			        animation-name: nav;
		}
		.nav_portable{
			display: none;
		}
		.nav_pc ul{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			position: fixed;
			width: 100%;
			background-color: rgba(158, 158, 158, 0.3);
			border-radius: 0px 0px 60px 60px;
			border-bottom: 3px solid rgba(48, 201, 25, 0.4);
		}
		.nav_pc li{
			font-size: 1.313em;
			margin-left: 0.3em;
			margin-right: 0.3em;
		}
	/*~ TITRE/TEXTE ~*/
		h1{
			margin-top: 3em;
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h1;
			        animation-name: h1;
		}
		h2{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h2;
			        animation-name: h2;
			margin-bottom: 2em;
			color: #30C919;
		}
		.anim_1, .anim_2, .anim_3, .anim_4{
			font-size: 1.5em;
		}
		/*~ ANIMATION DU LI HEADER ~*/
		.anim_1{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: anim_1;
			        animation-name: anim_1;
		}
		.anim_2{
			-webkit-animation-duration: 3s;
			        animation-duration: 3s;
			-webkit-animation-name: anim_2;
			        animation-name: anim_2;
		}
		.anim_3{
			-webkit-animation-duration: 4s;
			        animation-duration: 4s;
			-webkit-animation-name: anim_3;
			        animation-name: anim_3;
		}
		.anim_4{
			-webkit-animation-duration: 5s;
			        animation-duration: 5s;
			-webkit-animation-name: anim_4;
			        animation-name: anim_4;
		}
	/*~ MAIN~*/
		main{
			width: 100%;
		}
		article{
			flex-direction: row;
			width: 100%;
		}
		h3{
			font-size: 2.125em;
		}
		h4{
			font-size: 1.75em;
		}
		p{
			font-size: 1.125em;
		}
		/* IMAGE PARALLAX */
		#section1, #section2, #section3, #section4, #section5{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			height: 10em;
		}
		/* PLACEMENT DES IMAGES */
		#section1{
			background-image: url('../images/img1.png');
		}
		#section2{
			background-image: url('../images/img2.png');
		}
		#section3{
			background-image: url('../images/img3.png');
		}
		#section4{
			background-image: url('../images/img4.jpg');
		}
		#section5{
			background-image: url('../images/img5.jpg');
		}
	/*~ SECTION 1 ~*/
		.transport{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			text-align: center;
			font-size: 1.250em;
			margin: 1em;
		}
		.art_transport{
			display: flex;
			flex-direction: column;
		}
	/*~ SECTION 2 ~*/
		.diplomes, .formations{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1em;
			margin: 0.5em;
		}
		.art_diplome{
			display: flex;
			flex-direction: column;
		}
	/*~ SECTION 3 ~*/
		.icon{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			flex-direction: column;
			align-items: center;
			margin: 0.5em;
		}
		.icon .devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark,
		.devicon-javascript-plain, .devicon-jquery-plain-wordmark,
		.devicon-php-plain, .devicon-mysql-plain-wordmark,
		.devicon-linux-plain, .devicon-git-plain-wordmark,
		.devicon-github-plain-wordmark, .devicon-photoshop-plain{
			font-size: 2.5em;
		}
	/*~ SECTION 4 ~*/
		.experience i{
			margin: 0.3em;
		}
		.experience{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.125em;
			padding: 0.5em;
		}
	/*~ FORMULAIRE ~*/
		.contact fieldset{
			width: 40%;
			font-size: 1.125em;
		}
	/*~ FOOTER ~*/
		footer{
			text-align: center;
		}
		footer h5{
			font-size: 1.375em;
			margin: 0.5em;
			color: #fff;
			border-bottom: 2px solid #30C919;
		}
		footer .fa{
			margin: 0.2em;
			font-size: 3.75em;
			cursor: pointer;
			color: #fff;
		}
		footer .fa:hover{
			color: #30C919;
		}
}
/*--------------------------------------*/

/*~ RESPONSIVE TELEPHONE ~*/
@media all and (min-width: 981px){
	/*~ HEADER ~*/
		header{
			width: 100%;
			height: 41em;
		}
		header li{
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
		}
	/*~ NAV ~*/
		nav{
			-webkit-animation-duration: 1s;
			        animation-duration: 1s;
			-webkit-animation-name: nav;
			        animation-name: nav;
		}
		.nav_portable{
			display: none;
		}
		.nav_pc ul{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			position: fixed;
			width: 100%;
			background-color: rgba(158, 158, 158, 0.3);
			border-radius: 0px 0px 60px 60px;
			border-bottom: 3px solid rgba(48, 201, 25, 0.4);
		}
		.nav_pc li{
			font-size: 1.75em;
			margin-left: 0.3em;
			margin-right: 0.3em;
		}
	/*~ TITRE/TEXTE ~*/
		h1{
			margin-top: 4em;
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h1;
			        animation-name: h1;
			font-size: 3.125em;
		}
		h2{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: h2;
			        animation-name: h2;
			margin-bottom: 2em;
			font-size: 1.875em;
			color: #30C919;
		}
		.anim_1, .anim_2, .anim_3, .anim_4{
			font-size: 1.563em;
		}
		/*~ ANIMATION DU LI HEADER ~*/
		.anim_1{
			-webkit-animation-duration: 2s;
			        animation-duration: 2s;
			-webkit-animation-name: anim_1;
			        animation-name: anim_1;
		}
		.anim_2{
			-webkit-animation-duration: 3s;
			        animation-duration: 3s;
			-webkit-animation-name: anim_2;
			        animation-name: anim_2;
		}
		.anim_3{
			-webkit-animation-duration: 4s;
			        animation-duration: 4s;
			-webkit-animation-name: anim_3;
			        animation-name: anim_3;
		}
		.anim_4{
			-webkit-animation-duration: 5s;
			        animation-duration: 5s;
			-webkit-animation-name: anim_4;
			        animation-name: anim_4;
		}
	/*~ MAIN~*/
		main{
			width: 100%;
		}
		article{
			flex-direction: row;
			width: 100%;
		}
		h3{
			font-size: 2.250em;
		}
		h4{
			font-size: 1.875em;
		}
		p{
			font-size: 1.250em;
		}
		/* IMAGE PARALLAX */
		#section1, #section2, #section3, #section4, #section5{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			height: 14em;
		}
		/* PLACEMENT DES IMAGES */
		#section1{
			background-image: url('../images/img1.png');
		}
		#section2{
			background-image: url('../images/img2.png');
		}
		#section3{
			background-image: url('../images/img3.png');
		}
		#section4{
			background-image: url('../images/img4.jpg');
		}
		#section5{
			background-image: url('../images/img5.jpg');
		}
	/*~ SECTION 1 ~*/
		.transport{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			text-align: center;
			font-size: 1.5em;
			margin: 1em;
		}
		.art_transport{
			display: flex;
			flex-direction: column;
		}
	/*~ SECTION 2 ~*/
		.diplomes, .formations{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.250em;
			margin: 0.5em;
		}
		.art_diplome{
			display: flex;
			flex-direction: column;
		}
	/*~ SECTION 3 ~*/
		.icon{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			flex-direction: column;
			align-items: center;
			margin: 0.5em;
		}
		.icon .devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark,
		.devicon-javascript-plain, .devicon-jquery-plain-wordmark,
		.devicon-php-plain, .devicon-mysql-plain-wordmark,
		.devicon-linux-plain, .devicon-git-plain-wordmark,
		.devicon-github-plain-wordmark, .devicon-photoshop-plain{
			font-size: 4.375em;
		}
	/*~ SECTION 4 ~*/
		.experience i{
			margin: 0.3em;
		}
		.experience{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.250em;
			padding: 0.5em;
		}
	/*~ FORMULAIRE ~*/
		.contact fieldset{
			width: 40%;
			font-size: 1.250em;
		}
	/*~ FOOTER ~*/
		footer{
			text-align: center;
		}
		footer h5{
			font-size: 1.625em;
			margin: 0.5em;
			color: #fff;
			border-bottom: 2px solid #30C919;
		}
		footer .fa{
			margin: 0.2em;
			font-size: 5em;
			cursor: pointer;
			color: #fff;
		}
		footer .fa:hover{
			color: #30C919;
		}
}
/*--------------------------------*/
	/*~ KEYFRAMES ~*/

		/*~ NAV ~*/
		@-webkit-keyframes nav{
			0%{
					-webkit-transform: translateY(-200px);
					        transform: translateY(-200px);
				}
			50%{
					-webkit-transform: translateY(-100px);
					        transform: translateY(-100px);
				}
			100%{
					-webkit-transform: translateY(0px);
					        transform: translateY(0px);
				}
		}
		@keyframes nav{
			0%{
					-webkit-transform: translateY(-200px);
					        transform: translateY(-200px);
				}
			50%{
					-webkit-transform: translateY(-100px);
					        transform: translateY(-100px);
				}
			100%{
					-webkit-transform: translateY(0px);
					        transform: translateY(0px);
				}
		}
		/*~ H1 ~*/
		@-webkit-keyframes h1{
			0%{
					-webkit-transform: translateX(-1000px);
					        transform: translateX(-1000px);
				}
			100%{
					-webkit-transform: translateX(0px);
					        transform: translateX(0px);
				}
		}
		@keyframes h1{
			0%{
					-webkit-transform: translateX(-1000px);
					        transform: translateX(-1000px);
				}
			100%{
					-webkit-transform: translateX(0px);
					        transform: translateX(0px);
				}
		}
		/*~ H2 ~*/
		@-webkit-keyframes h2{
			0%{
					-webkit-transform: scale(0);
					        transform: scale(0);
				}
			100%{
					-webkit-transform: scale(1);
					        transform: scale(1);
				}
		}
		@keyframes h2{
			0%{
					-webkit-transform: scale(0);
					        transform: scale(0);
				}
			100%{
					-webkit-transform: scale(1);
					        transform: scale(1);
				}
		}
		/*~ LI HEADER ~*/
			/*~ anim_1 ~*/
		@-webkit-keyframes anim_1{
			0%{
					opacity: 0;
				}
			100%{
					opacity: 1;
				}
		}
		@keyframes anim_1{
			0%{
					opacity: 0;
				}
			100%{
					opacity: 1;
				}
		}
		/*~ anim_2 ~*/
	@-webkit-keyframes anim_2{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
	@keyframes anim_2{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
		/*~ anim_3 ~*/
	@-webkit-keyframes anim_3{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
	@keyframes anim_3{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
		/*~ anim_4 ~*/
	@-webkit-keyframes anim_4{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
	@keyframes anim_4{
		0%{
				opacity: 0;
			}
		100%{
				opacity: 1;
			}
	}
